#game_input .highlight {
	color: red;
}

#game_input {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: white;
	background-color: -moz-field;
	border: 1px solid darkgray;
	box-shadow: 1px 1px 1px 0 lightgray inset;
	font: -moz-field;
	font: -webkit-small-control;
	margin-top: 5px;
	padding: 2px 3px;
	width: 398px;
	height: 40px;
}

#game_hint {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	box-shadow: 1px 1px 1px 0 lightgray inset;
  font-weight: bold;
  font-size: 10px;
	width: 100px;
  height: 20px;
  padding: 10px;
	margin: 20px 0 0 40px;
	text-align: center;
}
